<div class="slider">
    <ul class="slides">
        <li>
            <img src="~/Content/images/slider1.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3 class="rojo">¡DULZURA Y FELICIDAD!</h3>
                <p class="carrusel-texto">
                    Valores fundamentales en Disosa
                    gracias a los cuales contuamos creciendo y
                    manteniendonos líderes en nuestro sector.
                </p>
            </div>
        </li>
        <li>
            <img src="~/Content/images/slider2.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3 class="azul">CALIDAD E INNOVACIÓN</h3>
                <p class="carrusel-texto">
                    Valores fundamentales en Disosa
                    gracias a los cuales contuamos creciendo y
                    manteniendonos líderes en nuestro sector.
                </p>
            </div>
        </li>
        <li>
            <img src="~/Content/images/slider3.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h2 class="azul">CERCA DE TODOS
                </h2>
                <p class="carrusel-texto">
                    Nuestros productos se comercializan
                    en el interior de toda la república.
                </p>
            </div>
        </li>        
    </ul>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function(){
    $('.slider').slider();
    });
</script>