nav ul a, nav .brand-logo {
    /*color:#000 !important;*/
}

#navbar{
    
    background:#fff;
    position:absolute; top:30px; box-shadow:none;

}

.active {
    background: rgba(250,250,250,0.5);

}