
@{
    ViewBag.Title = "Nosotros";
}

<main class="container">
    <h5 class="indigo-text text-darken-3"><strong>¿QUIÉNES SOMOS?</strong></h5>
    <p class="left-align">
        Distribución Horizontal, con una experiencia de años, es la mayor empresa guatemalteca en la distribución de golosinas.
        Disosa es la marca lider en Guatemala en caramelo de gelatina, marshmallow y regaliz.
    </p>
    <p class="left-align">
        Somos una empresa 100% guatemalteca, con años de experiencia en la distribución de productos de consumo masivo en todo el territorio de nuestro país, tanto urbano como rural. Pulperías, minisúper, abastecedores y supermercados son testigos de la calidad, gran servicio y la integridad de las marcas que les ofrecemos.
    </p>
    <hr />

    <p class="left-align">
        Distribución Horizontal es líder en la distribución de golosinas en el Canal Impulso de Guatemala,
        donde se concentra el 75% de la venta de golosinas.
    </p>

    <div class="row">
        <p class="left-align col m8">
            En el ámbito del retail Distribución  buidora Horizontal se ha convertido en la compañía confitera que más crece,
            hasta un 49,1%, en 2018. Fini es líder del sector gracias a sus productos únicos y transgresores,
            reconocibles por los consumidores de todas las edades.
        </p>
        <div class="col m4">
            <img src="~/Content/images/img_empresa_grafica_barras.png" class="responsive-img" />
        </div>
    </div>


</main>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(".activeMenu").removeClass("activeMenu");
    $(".aboutMenu").addClass("activeMenu");


    $("#pacifier").fadeOut("slow");

</script>
