

@{
    ViewBag.Title = "Index";
}

<main class="container center-align">
    <h3 class="indigo-text text-darken-2 bubble">
        CONTÁCTENOS
    </h3>
    <h5 class="indigo-text bubble">
        Envíenos sus consultas o sugerencias, completando la siguiente información:
    </h5>



    <div class="row" style="margin-top:30px">
        <form class="col s12">
            <div class="row">
                <div class="input-field col m6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="name" type="text" class="validate">
                    <label for="name">Nombre y Apellido</label>
                </div>
                <div class="input-field col m6">
                    <i class="material-icons prefix">business</i>
                    <input id="business" type="tel" class="validate">
                    <label for="business">Nombre Empresa</label>
                </div>

                <div class="input-field col m6">
                    <i class="material-icons prefix">phone</i>
                    <input id="telephone" type="tel" class="validate">
                    <label for="telephone">Teléfono</label>
                </div>

                <div class="input-field col m6">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Ingrese una dirección válida" data-success=""></span>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="message" rows="5" class="materialize-textarea"></textarea>
                    <label for="message">Escriba su Mensaje</label>
                </div>
            </div>

            <a class="waves-effect waves-light btn indigo darken-1 modal-trigger bigger" href="#modal1" onclick="EnviarEmail()"><i class="material-icons right">send</i>Enviar</a>
            <!-- Mensaje -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Gracias por contactarnos</h4>
                    <p>En breve un asesor se comunicará con usted.</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
                </div>
            </div>

        </form>
    </div>
</main>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('.modal').modal();
        $(".activeMenu").removeClass("activeMenu");
        $(".contactMenu").addClass("activeMenu");
    });

    function limpiarCampos() {
        $("input").val("");
        $("textarea").val("");
    }
</script>

<script src="https://smtpjs.com/v2/smtp.js"></script>
<script>

    function EnviarEmail() {
        var body =
            "<strong>NOMBRE: </strong>" + $("#name").val() + "<br>" +
            "<strong>EMPRESA: </strong>" + $("#business").val() + "<br>" +
            "<strong>TELEFONO: </strong>" + $("#telefone").val() + "<br>" +
            "<strong>EMAIL: </strong>" + $("#email").val() + "<br>" +
            "<strong>MENSAJE: </strong>" + $("#message").val() + "<br>";

        Email.send("web@disosagt.com",
            "bagner.conta@gmail.com",
            "Contacto desde Sitio Web",
            body,
            { token: "0c9e1290-fbb9-4d16-a286-80531a7a9fd8" },
        );

        limpiarCampos();
    }


    $("#pacifier").fadeOut("slow");

</script>