@{
    ViewData["Title"] = "Home Page";
}


<div style="height:400px; width:100%; background:url(https://upload.wikimedia.org/wikipedia/commons/3/3d/Sixlets-Candies.jpg);
background-size:cover; background-position-x:center; ">

</div>